nav ul{
    display: flex;
    list-style-type: none;
    justify-content: right;
  }
  nav ul li {
    padding: 20px;
  }
  nav ul li p {
    color: green;
  }
  nav a {
    text-decoration: none;
    color: white;
  }
  nav li:hover {
    background: #5C8966;
  }
  .logout button {
    background: none;
    border: none;
    color: white;
    font: inherit;
  }
  .logout:hover {
    background: red; 
  }