main {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
main > * {
    background: #2a2727;
    padding: 50px;
    max-width: 50%;
    margin-left: 5%;
}
main button {
    padding: 10px 30px;
    margin-top: 10px;
    background: white;
    border-radius: 10px;
}
main button:hover {
    background: none;
    border: 1px solid white;
    color: white;
}
.preferences, .pview {
    display: flex;
    gap: 100px;
}
