{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile review</title>
    <link rel="stylesheet" type='text/css' href='{% static 'css/global.css' %}'>
    <link rel="stylesheet" type='text/css' href='{% static 'css/styles.css' %}'>
</head>
<body>
    {% include 'include/navbar.html' %}
    <main>
        <p>Username: {{ user_profile.user.username }} </p>
        <h1> your preferences: {{user_profile.preferred_cuisine}}</h1>
        <h2>Your tags:</h2>
        <ul>
            {% for tag in tags %}
                <li>{{tag}}</li>
            {% empty %}
                <li>No tags assigned yet.</li>
            {% endfor %}
        </ul>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
    </main>
</body>
</html>