{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile review</title>
    <link rel="stylesheet" type='text/css' href='{% static 'css/global.css' %}'>
    <link rel="stylesheet" type='text/css' href='{% static 'css/styles.css' %}'>
    <link rel="stylesheet" type='text/css' href='{% static 'css/profile.css' %}'>
</head>
<body>
    {% include 'include/navbar.html' %}
    <main>
        <div>
            <p>User: {{ user_profile.user.username }}</p>
        </div>


        <div class="pview">
            <div>
                <h4>Preferred Attributes:</h4>
                <ul>
                    {% for tag in soft_tags %}
                        <li>{{ tag.name }}</li>
                    {% empty %}
                        <li>No soft tags assigned yet.</li>
                    {% endfor %}
                </ul>
            </div>
            <div>
                <h4>Dietary restrictions:</h4>
                <ul>
                    {% for tag in strict_tags %}
                        <li>{{ tag.name }}</li>
                    {% empty %}
                        <li>No strict tags assigned yet.</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div>
            <form method="post">
                {% csrf_token %}
                <div class="preferences">
                    <div>
                        <h3>Soft Preferences</h3>
                        {{ soft_form.as_p }}
                    </div>
                    
                    <div>
                        <h3>Dietary Restrictions</h3>
                        {{ strict_form.as_p }}
                    </div>
                </div>

                <button type="submit">Save Preferences</button>
            </form>
        </div>
    </main>
</body>
</html>
