<nav>
  <ul>
    {% if user.is_authenticated %}
      <li><p>Logged in as: {{ request.user.username }}</p></li>
      <li><a href="{% url 'frontend:index' %}">Home</a></li>
      <li><a href="{% url 'user:profile' %}">Profile</a></li>
      
      {% if user.is_staff %}
        <li><a href="{% url 'user:manage_recipes' %}">Manage Recipes</a></li>
      {% endif %}
      
      <li class='logout'>
        <form action="{% url 'user:logout' %}" method="post">
          {% csrf_token %}
          <button>Logout</button>
        </form>
      </li>
    {% else %}
      <li><a href="{% url 'user:register' %}">Register</a></li>
      <li><a href="{% url 'user:login' %}">Login</a></li>
    {% endif %}
  </ul>
</nav>
